.avis{


    font-weight: bold;
    height: 300px;
    width: 950px;
    margin-left: 50px;
    background-color: #000000;
    font-family:微軟正黑體;
    font-size: 15px;
    
}



.E_table{

    height: 450px;
    width: 90%;
    border-radius:1%;
    background-color: #AAAAAA;
    margin-top:0px;
    margin-left:50px;

}
.E_table_t{
    height: 40px;
    width: 100%;
    border-radius:1%;
    background-color: #888888;
    
}
.E_table_t_L{
    height: 40px;
    width: 800px;
    float:left;
    padding-top: 5px;
    padding-left: 5px;
}
.E_table_t_R{
    height: 40px;
    width: 200px;
    float:right;
    padding-top: 5px;
}
.E_table_b{
    height: 420px;
    width: 100%;
    border-radius:1%;
    background-color: #DDDDDD;
}
.metable{
    width: 95%;
}
/*-----------------------------*/

.input_valve{
    margin-left: 5px;
    background-color: #C0C0C0;
    border-color: #C0C0C0;
}
.input_button{
    margin-left: 10px;
    background-color: #696969;
    border-color: #696969;
}
.t_txt{
    font-weight: bold;
    font-family:微軟正黑體;
    font-size: 15px;
    color: #444444;
}
.v_txt{
    font-weight: bold;
    font-family:微軟正黑體;
    font-size: 15px;
    color: #444444;
}