/*system program Member*/
    /*1. Quire*/
    .Member_Q{
        height: 270px;
        width: 80%;
        border-radius:1%;
        background-color: #FFFFFF;
        margin-top: 25px;
        margin-left:50px;
    }
    .Member_Q_t{
        height: 40px;
        width: 100%;
        border-radius:1%;
        background-color: #99BBFF;   
    }
    .Member_Q_t_L{
        height: 40px;
        width: 500px;
        float:left;
        padding-top: 5px;
        padding-left: 5px;
    }
    .Member_Q_t_R{
        height: 40px;
        width: 200px;
        float:right;
        padding-top: 5px;
    }
    /*2. Add*/
    .right_MemberAdd{
        height: 450px;
        width: 90%;
        border-radius:1%;
        background-color: #AAAAAA;
        margin-top: 25px;
        margin-left: 50px;

    }
    .right_MemberAdd_t{
        height: 40px;
        width: 100%;
        border-radius:1%;
        background-color: #888888; 
    }
    .right_MemberAdd_t_L{
        height: 40px;
        width: 300px;
        float:right;
        padding-top: 5px;
    }
    .right_MemberAdd_t_R{
        height: 40px;
        width: 200px;
        float:right;
        padding-top: 5px;
    }
    .right_MemberAdd_t_b{
        height: 300px;
        width: 100%;
        padding-left: 150px;
        padding-right: 150px;
        background-color: #DDDDDD;
    }
    .right_MemberAdd_form{
        height: 100px;
        width: 100%;
        padding-top: 15px;
        float:left; 
    }
    /*3. modify*/
    .right_MemberMod{
        height: 280px;
        width: 90%;
        border-radius:1%;
        background-color: #AAAAAA;
        margin-top: 25px;
        margin-left: 50px;
    }
    .right_MemberMod_t{
        height: 40px;
        width: 100%;
        border-radius:1%;
        background-color: #888888;
    }
    .right_MemberMod_t_L{
        height: 40px;
        width: 300px;
        float:right;
        padding-top: 5px;
    }
    .right_MemberMod_t_R{
        height: 40px;
        width: 200px;
        float:right;
        padding-top: 5px;
    }
    .right_MemberMod_t_b{
        height: 300px;
        width: 100%;
        padding-left: 150px;
        padding-right: 150px;
        background-color: #DDDDDD;
    }
    .right_MemberMod_form{
        height: 50px;
        width: 100%;
        padding-top: 15px;
        float:left; 
    }
    /*4. delete*/
    .right_MemberDel{
        height: 180px;
        width: 90%;
        border-radius:1%;
        background-color: #AAAAAA;
        margin-top: 25px;
        margin-left: 50px;
    } 
    .right_MemberDel_t{
        height: 40px;
        width: 100%;
        border-radius:1%;
        background-color: #888888;
    }
    .right_MemberDel_t_L{
        height: 40px;
        width: 300px;
        float:right;
        padding-top: 5px;
    }
    .right_MemberDel_t_R{
        height: 40px;
        width: 200px;
        float:right;
        padding-top: 5px;
    }
    .right_MemberDel_t_b{
        height: 300px;
        width: 100%;
        padding-left: 150px;
        padding-right: 150px;
        background-color: #DDDDDD;
    }
    .right_MemberDel_form{
        height: 50px;
        width: 100%;
        padding-top: 15px;
        float:left; 
    }
/*---------------------*/

.input_valve{
    margin-top: 5px;
    margin-left: 5px;
    background-color: #C0C0C0;
    border-color: #C0C0C0;
}
.input_button{
    margin-top: 5px;
    margin-left: 10px;
    background-color: #696969;
    border-color: #696969;
}
.t_txt{
    font-weight: bold;
    font-family:微軟正黑體;
    font-size: 15px;
    color: #444444;
}
.v_txt{
    font-weight: bold;
    font-family:微軟正黑體;
    font-size: 15px;
    color: #444444;
}