/*System Report*/
    /*1. Select report*/
    .SR{
        height: 120px;
        width: 99%;
        border-radius:1%;
        background-color: #FFFFFF;
        margin-top: 10px;
    }
    .SR_t{
        height: 40px;
        width: 100%;
        border-radius:1%;
        background-color: #99BBFF;   
    }
    .SR_t_L{
        height: 40px;
        width: 500px;
        float:left;
        padding-top: 5px;
        padding-left: 5px;
    }
    .SR_t_R{
        height: 40px;
        width: 200px;
        float:right;
        padding-top: 5px;
    }
    /*2. Daily report*/
    .DR{
        height: 300px;
        width: 99%;
        border-radius:1%;
        background-color: #FFFFFF;
        margin-top: 10px;
    }
    .DR_t{
        height: 40px;
        width: 100%;
        border-radius:1%;
        background-color: #99BBFF;   
    }
    .DR_t_L{
        height: 40px;
        width: 500px;
        float:left;
        padding-top: 5px;
        padding-left: 5px;
    }
    .DR_t_R{
        height: 40px;
        width: 200px;
        float:right;
        padding-top: 5px;
    }
    .DR_b{
        height: 300px;
        width: 100%;
        padding-left: 150px;
        padding-right: 150px;
    }
    .DR_form{
        height: 100px;
        width: 100%;
        padding-top: 15px;
        float:left; 
    }
/*----------------------------------------------*/