/*System Report*/
    /*1. Select report*/
    .set_SR{
        height: 315px;
        width: 90%;
        border-radius:1%;
        background-color: #AAAAAA;
        margin-top: 40px;
        margin-left:50px;
    }
    .set_SR_t{
        height: 40px;
        width: 100%;
        border-radius:1%;
        background-color: #888888;   
    }
    .set_SR_t_L{
        height: 40px;
        width: 500px;
        float:left;
        padding-top: 5px;
        padding-left: 5px;
    }
    .set_SR_t_R{
        height: 40px;
        width: 200px;
        float:right;
        padding-top: 5px;
    }
    .set_SR_b{
        height: 300px;
        width: 100%;
        padding-left: 150px;
        padding-right: 150px;
        background-color: #DDDDDD;
        padding: 0px;        
    }
    .metable{
        width: 95%;
    }

    /*2. Daily report*/
    .set_DR{
        height: 200px;
        width: 90%;
        border-radius:1%;
        background-color: #AAAAAA;
        margin-top: 25px;
        margin-left:50px;
    }
    .set_DR_t{
        height: 40px;
        width: 100%;
        border-radius:1%;
        background-color: #888888;   
    }
    .set_DR_t_L{
        height: 40px;
        width: 500px;
        float:left;
        padding-top: 5px;
        padding-left: 5px;
    }
    .set_DR_t_R{
        height: 40px;
        width: 200px;
        float:right;
        padding-top: 5px;
    }
    .set_DR_b{
        height: 180px;
        width: 100%;
        padding-left: 150px;
        padding-right: 150px;
        background-color: #DDDDDD;
    }
    .set_DR_form{
        height: 100px;
        width: 95%;
        padding-top: 15px;
        float:left; 
    }
/*----------------------------------------------*/

.input_valve{
    margin-top: 5px;
    margin-left: 5px;
    background-color: #C0C0C0;
    border-color: #C0C0C0;
}
.input_button{
    margin-top: 5px;
    margin-left: 10px;
    background-color: #696969;
    border-color: #696969;
}
.t_txt{
    font-weight: bold;
    font-family:微軟正黑體;
    font-size: 15px;
    color: #444444;
}
.v_txt{
    font-weight: bold;
    font-family:微軟正黑體;
    font-size: 15px;
    color: #444444;
}