/*The overall empty frame*/

html, body {

    background-image: url('http://127.0.0.1:8000/images');
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    background-attachment: fixed;
    background-position: center;
    background-position: center;
            
}




h1{

    color:#FFFFFF;
    font-size:100px;
    margin:60px 0;
    text-align:center;
}


h2{
    color:#FFFFFF;
    font-size:40px;
    margin:60px 0;
    text-align:center;
}

h3{
    color:#80FFFF;
    font-size:30px;
    margin:60px 0;
    text-align:center;
}

h4{
    color:#FFFFFF;
    font-size:20px;
    margin:40px 0;
    text-align:center;
}

h5{
    font-family:monospace;
    color:#FFFFFF;
    font-size:30px;
    margin:60px 0;
    text-align:center;  
}

.list-group-item{


    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align:center;
}


.list-group-item-two{

    position: relative;
    display: block;
    padding: 10px 118px;            /*關係到文字能否顯示在一排*/
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align:center;
    
}



.special h3{
    font-family:monospace;
    color:#FFFFFF;
    font-size:30px;
    margin:60px 0;
    text-align:center;  

}

.special h2{
    font-family:cursive;
    color:#FFFFFF;
    font-size:70px;
    margin:70px;
    text-align:center;  

}



.container{
    width:90%;
    margin:0 auto;
}

.signup{
    width:45%;
    float:left;
    margin-right:6%;
    background:rgba(0, 0, 0, 0.28);
    padding:4%;
    box-shadow: 0 3px 18px 8px rgba(38, 24, 24, 0.25);
    text-align:center;
    position:relative;                                      /*寬版的列表*/
}


.signup-two{

    width:30%;
    float:left;
    margin-right:6%;
    background:rgba(0, 0, 0, 0.28);
    padding:4%;
    box-shadow: 0 3px 18px 8px rgba(38, 24, 24, 0.25);
    text-align:center;
    position:relative;                                      /*寬版的列表*/
}


.signup-three{

    width:25%;
    float:left;
    margin-right:1%;
    background:rgba(0, 0, 0, 0.28);
    padding:2%;
    box-shadow: 0 3px 18px 8px rgba(38, 24, 24, 0.25);
    text-align:center;
    position:relative;                                      /*past value table 的列表格式*/

}





.signin{

    width:45%;
    float:left;
    padding:4%;
    background:rgba(0, 0, 0, 0.28);
    box-shadow: 0 3px 18px 8px rgba(38, 24, 24, 0.25);
    text-align:center;
    position:relative;
}

.pastvaluefigure{
    

    width:30%;
    float:left;
    padding:4%;
    background:rgba(0, 0, 0, 0.28);
    box-shadow: 0 3px 18px 8px rgba(38, 24, 24, 0.25);
    
    position:relative;
    
}


.pastvaluefigureform{

    width:45%;
    float:left;
    margin-right:6%;
    background:rgba(0, 0, 0, 0.28);
    padding:4%;
    box-shadow: 0 3px 18px 8px rgba(38, 24, 24, 0.25);
    text-align:center;
    position:relative; 
}

.result{

    width:120%;
    float:left;
    padding:20%;
    background:rgba(0, 0, 0, 0.28);
    box-shadow: 0 3px 18px 8px rgba(38, 24, 24, 0.25);

}

.signinn{

        margin:10%;

}



.returninfo{

    width:102%;
    float:center;
    padding:10%;
    background:rgba(0, 0, 0, 0.28);
    box-shadow: 0 3px 18px 8px rgba(38, 24, 24, 0.25);
}

.keyword{
    
    width:100%;
    float:center;
    padding:10%;
    background:rgba(0, 0, 0, 0.28);
    box-shadow: 0 3px 18px 8px rgba(38, 24, 24, 0.25);
}

.photo{

    width:105%;
    float:center;
    padding:10%;
    background:rgba(0.6, 0, 0, 0);
    
}
/*-- //Reset Code --*/

/*-- Banner--*/
.banner{
    background:url('../images/3.jpg') no-repeat 0px 0px;
    background-size:cover;
    min-height:650px;
}
.header{
    padding:40px 0px;
}
.logo{
    float:left;
    width:30%;
}

.logo h2{
    text-align:left;
    font-size:100px;
    color:#fff;
}
.total-navbar{
    float:left;
    width:70%;
}

/*=========================================================*/

.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
    background-color: transparent;
}

/*===================================================*/

.navbar-default {
    background-color:transparent;
    border-color:#000000;
}



.navbar-one {

    height: 80px;
    background-color:#000000;
    border-color:transparent;
}

.navbar-text {

    font-family:DFKai-SB;
    font-size: 30px;
    color: #FFFFFF;

}


.container-fluid-self{  /*使得 標題比較居中于列表*/

    
    padding-right: 20px;
    padding-left: 20px;
    

}
    
.navbar-header-self{

    padding-left:50px;
    
}

.navbar-header-self-right{

    padding-left:5px;

}





























.output{
    height: 100%;
    width: 100%;
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
 }
.title{
    height: 50px;
    width: 100%;
    padding-top: 0;
    background-color: #0066FF;
    position: fixed;
}
.main{
    height: 100%;
    width: 100%;
    padding-top: 50px;
}
.left{
    left: 0px;
    height: 100%;
    width: 250px;
    margin: 0;
    float:left; 
    padding-top: 10px;
}
.leftfloat{
    width: 250px;
    float:left; 
}

.right{
    height: 100%;
    width: 100%;
    padding-left: 280px;
}

.right_two{
    height: 100%;
    width: 100%;
    padding-left: 350px;
}
/*-----------------------*/
.text_title{
    font-family:微軟正黑體;
    font-size: 38px;
}
.text_1{
    height: 40px;
    width: 200px;
    float:left; 
    font-family:微軟正黑體;
    font-size: 30px;
    color: #5555FF;
    margin-left:20px;
}