/*The overall empty frame*/
html, body {
    height:100%;
    margin:0;
    padding: 0;
    background-color: #DDDDDD;
            
}
.output{
    height: 100%;
    width: 100%;
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
 }
.title{
    height: 50px;
    width: 100%;
    padding-top: 0;
    background-color: #0066FF;
    position: fixed;
}
.main{
    height: 100%;
    width: 100%;
    padding-top: 50px;
}
.left{
    left: 0px;
    height: 100%;
    width: 250px;
    margin: 0;
    float:left; 
    padding-top: 10px;
}
.leftfloat{
    width: 250px;
    float:left; 
}
.right{
    height: 100%;
    width: 100%;
    padding-left: 250px;
}
/*-----------------------*/
.text_title{
    font-family:微軟正黑體;
    font-size: 38px;
}
.text_1{
    height: 40px;
    width: 200px;
    float:left; 
    font-family:微軟正黑體;
    font-size: 30px;
    color: #5555FF;
}