$def with(host_ip)
<!DOCTYPE html>
<html>
<head>  
	<!-- 以下這5行是引用bootstrap及jquery CDN (Content Delivery Network)的標準動作 -->
    <meta charset="utf-8"> <!-- 指定內文的編碼，若要顯示中文，通常用utf-8這個unicode編碼 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/ui">
    <link rel="stylesheet" type="text/css" href="/epvt">
    <title>居家物聯網監控系統</title>

    <!-- // 引用 jQuery.js 和 jQuery-TablePage.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script>
        (function(jQuery){
		  
	        jQuery.fn.tablepage = function(oObj, dCountOfPage) {

		        var dPageIndex = 1;
		        var dNowIndex = 1;
		        var sPageStr = "";
		        var dCount = 0;
		        var oSource = jQuery(this);
		        var sNoSelColor = "#CCCCCC";
		        var sSelColor = "black";
		        var sFontColor = "white";

 		        change_page_content();

		        function change_page_content()
		        {
			        //取得資料筆數
			        dCount = oSource.children().children().length - 1;

			        //顯示頁碼
			        sPageStr = "<table><tr><td style='padding: 5px;height:30px;'><b>第</b></td>";
			
			        dPageIndex = 1;
			
			        for (var i = 1; i <= dCount; i += dCountOfPage)
			        {
				        if (dNowIndex == dPageIndex)
				        {
					        sPageStr += "<td style='padding: 4px' valign='top'><table style='width:20px;height:20px;cursor:pointer;color:" + sFontColor + ";border-collapse:collapse;border-style:solid;border-width:1px;border-color:" + sSelColor + ";background-color:" + sSelColor + "'><tr><th style='text-align:center;'>" + (dPageIndex++) + "</th></tr></table></td>";
				        }
				        else
				        {
					        sPageStr += "<td style='padding: 4px'valign='top'><table style='width:20px;height:20px;cursor:pointer;color:" + sFontColor + ";border-collapse:collapse;border-style:solid;border-width:1px;border-color:" + sNoSelColor + ";background-color:" + sNoSelColor + "'><tr><th style='text-align:center;'>" + (dPageIndex++) + "</th></tr></table></td>";
				        }
			        }
			
			        sPageStr += "<td style='padding: 5px;height:30px;'><b>頁</b></td></tr></table>";
			
			        oObj.html(sPageStr);
			
			        dPageIndex = 1;
			
			        //過濾表格內容
			        oSource.children().children("tr").each( function () {
			
				        if (dPageIndex <= (((dNowIndex - 1) * dCountOfPage) + 1) || dPageIndex > ((dNowIndex * dCountOfPage) + 1))
				        {
					        jQuery(this).hide();
				        }
				        else
				        {
					        jQuery(this).show();	
				        }
				
				        dPageIndex++;
			        });
			
			        oSource.children().children("tr").first().show(); //head一定要顯示
						
			        //加入換頁事件
			        oObj.children().children().children().children().each( function () {
		
				        jQuery(this).click( function () {
				
					        dNowIndex = jQuery(this).find("tr").text();
					
					        if (dNowIndex > 0)
					        {
						        change_page_content();
					        }
				        });
			        });
		        }
	        };
        })(jQuery);
    </script>
    <script>
        var alldata; //全域變數，存取收到的data

        function Qdata() {
            var index_name = document.getElementById("index_name").value
            var Y = document.getElementById("Y").value
            var M = document.getElementById("M").value
            var D = document.getElementById("D").value

            var host_ip = document.getElementById("host_ip").value;
            $$.post(
                host_ip + '/EPtest',
                {   index_name: index_name,
                    Y: Y,
                    M: M, 
                    D: D
                },
                function(data){
                    alldata = data; //將data存入全域變數
                    $$("#mt tbody").html(""); //清空表格
                    var s = document.getElementById('Z');
                    s.options.length = 0; //清空頁碼下拉選單

                    count = Math.ceil(alldata.length/10) //取得總頁數
                    for(i=1; i<=count; i++){ //新增頁碼
                        var new_option = new Option(i,i*10-9)
                        s.options.add(new_option);
                    }

                    for(i=0;i<10;i++){
                        $$('#mt tbody').append(
                            "<tr>"
                                +"<td>"+Number(i+1)+"</td>"
                                +"<td>"+String(alldata[i]["year"])+" / "+String(alldata[i]["month"])+" / "+String(alldata[i]["day"])+"</td>"
                                +"<td>"+String(alldata[i]["hour"]) + ":00"+"</td>"
                                +"<td>"+String(alldata[i]["V"])+"</td>"
                            +"</tr>"
                            );
                    }
                                        
                }
            );    
        }
        function test() {
            $$("#mt tbody").html(""); //清空表格
            var s = document.getElementById('Z');
            for(i=Number(s.value); i<Number(s.value)+10; i++){
                $$('#mt tbody').append(
                    "<tr>"
                        +"<td>"+Number(i)+"</td>"
                        +"<td>"+String(alldata[i-1]["year"])+" / "+String(alldata[i-1]["month"])+" / "+String(alldata[i-1]["day"])+"</td>"
                        +"<td>"+String(alldata[i-1]["hour"]) + ":00"+"</td>"
                        +"<td>"+String(alldata[i-1]["V"])+"</td>"
                    +"</tr>"
                    );
            }
            alert(alldata[12]["year"])
        }
    </script> 
</head>

<input type="hidden" value="$host_ip" name="host_ip" id="host_ip"/>
<body class="output container">    
    
    <nav class="navbar navbar-inverse navbar-fixed-top" style="margin: 0px">
        <div class="container">
            <div class="navbar-header">
                <a class="text_title navbar-brand" href="/CurrentState">家庭物聯網監控系統</a>
            </div>
        </div>
    </nav>

    <div class="signup-three">

        <div class="form-signup from_w">
            <!--環境監控-->
            <form class="form-signup">         
                <a class="txt_LeftTitle_T list-group-item active">環境監控</a>
                <a href="/CurrentState"     class="txt_LeftTitle_B list-group-item">目前數值</a>
                <a href="/PastValueTable"   class="txt_LeftTitle_B list-group-item">過去數值(表)</a>
                <a href="/PastValueFigure"  class="txt_LeftTitle_B list-group-item">過去數值(圖)</a>
                <br>
            </form>
            <form class="form-signup">         
                <a class="txt_LeftTitle_T list-group-item active">安全監控</a>
                <a href="/DoorLock"         class="txt_LeftTitle_B list-group-item">卡片處理</a>
                <a href="/Monitor"          class="txt_LeftTitle_B list-group-item">監視影像</a>
                <a href="/EventRecord"      class="txt_LeftTitle_B list-group-item">事件紀錄</a>
                <br>
            </form>
            <form class="form-signup">
                <a class="txt_LeftTitle_T list-group-item active">系統設定</a>
                <a href="/SystemReportDay" class="txt_LeftTitle_B list-group-item">報表生成</a>
                <a href="/SetUp"           class="txt_LeftTitle_B list-group-item">成員處理</a>
                <br>
            </form>
            <form class="form-signup">        
                <a href="/logout" class="list-group-item">登出</a>              
            </form>
        </div>
    </div>

    <div class="right">
        <div class="page-header">
            <div class="T_top_max">
                過去數值
            </div>
            <div class="T_top_min">
                <a href="/CurrentState">物聯網監控系統(首頁)</a>
                /
                <a href="/PastValueTable">過去數值</a>
            </div>
        </div>
        <!--整合-->
        <div class="E_table">
            <div class="E_table_t">
                <div class="E_table_t_L">
                    <!--// 下拉是選單(年/月/日)-->
                    <form action="/EventRecord" method="POST" class="t_txt" >
                        <select style="width:150px;float:left;" class="input_valve form-control input-sm" name="index_name" id="index_name">
                            <option value="Humidity">   1.濕度</option>
                            <option value="TemperC">    2.溫度(攝氏)</option>
                            <option value="TemperF">    3.溫度(華視)</option>
                            <option value="sensor">     4.可燃氣</option>
                            <option value="Air">        5.空氣清晰度</option>
                            <option value="Dust">       6.粉成濃度</option>
                            <option value="ampere">     7.安培量</option>
                        </select>
                        <select style="width:85px;float:left;" class="input_valve form-control input-sm" name="Y" id="Y">
                            <option value="2017">2017年</option>
                            <option value="2018">2018年</option>
                            <option value="2019">2019年</option>
                            <option value="all">All</option>
                        </select>
                        <select style="width:70px;float:left;" class="input_valve form-control input-sm" name="M" id="M">
                            <option value="1">1月</option><option value="2">2月</option><option value="3">3月</option>
                            <option value="4">4月</option><option value="5">5月</option><option value="6">6月</option>
                            <option value="7">7月</option><option value="8">8月</option><option value="9">9月</option>
                            <option value="10">10月</option><option value="11">11月</option><option value="12">12月</option>
                            <option value="all">All</option>
                        </select>
                        <select style="width:70px;float:left;" class="input_valve form-control input-sm" name="D" id="D">
                            <option value="1">1日</option><option value="2">2日</option><option value="3">3日</option>
                            <option value="4">4日</option><option value="5">5日</option><option value="6">6日</option>
                            <option value="7">7日</option><option value="8">8日</option><option value="9">9日</option>
                            <option value="10">10日</option><option value="11">11日</option><option value="12">12日</option>
                            <option value="13">13日</option><option value="14">14日</option><option value="15">15日</option>
                            <option value="16">16日</option><option value="17">17日</option><option value="18">18日</option>
                            <option value="19">19日</option><option value="20">20日</option><option value="21">21日</option>
                            <option value="22">22日</option><option value="23">23日</option><option value="24">24日</option>
                            <option value="25">25日</option><option value="26">26日</option><option value="27">27日</option>
                            <option value="28">28日</option><option value="29">29日</option><option value="30">30日</option>
                            <option value="31">31日</option>
                            <option value="all">All</option>
                        </select>
                        <button type="button" class="input_button btn btn-default btn-sm" onclick="Qdata()">送出</button>
                        
                        
                        <button style="width:70px;float:right;" type="button" class="input_button btn btn-default btn-sm" onclick="test()">查詢</button>
                        <select style="width:70px;float:right;" class="input_valve form-control input-sm" name="Z" id="Z"></select>
                    </form>
                </div>
            </div>
            <div class="E_table_b t_txt">
                <table id="mt" class="table table-hover">
                    <thead>
                        <tr>
                            <th width="100px">項次</th>
                            <th width="400px">日期</th>
                            <th width="400px">時間</th>
                            <th>值</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
     
    </div>
</body>
</html>