<!DOCTYPE html>
<html>
<head>
<!--     
        Humidity   #濕度
        TemperC    #溫度(攝氏)
        TemperF    #溫度(華視)
        sensor     #可燃氣
        Air        #空氣清晰度
        Dust       #粉成濃度
        ampere     #安培量
 -->
	<!-- 以下這5行是引用bootstrap及jquery CDN (Content Delivery Network)的標準動作 -->
    <meta charset="utf-8"> <!-- 指定內文的編碼，若要顯示中文，通常用utf-8這個unicode編碼 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/ui">
    <link rel="stylesheet" type="text/css" href="/ecs">
	<title>居家物聯網監控系統</title>

<script>
    window.setInterval("show()", 1000); 
    function show() {
        var baseurl = 'http://192.168.1.150:8006';
        $$.get(
            baseurl + '/test',
            { name: "John", time: "2pm" },
            function(data){
                $$('#Humidity').val(data.Humidity);
                $$('#TemperC').val(data.TemperC);
                $$('#TemperF').val(data.TemperF);
                $$('#sensor').val(data.sensor);
                $$('#Air').val(data.Air);
                $$('#Dust').val(data.Dust);
                $$('#ampere').val(data.ampere);
            }
        );
    }
</script>


</head>
<body class="output container">

<!--title-->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">居家物聯網監控系統</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">登出</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="main">

    <div class="left">
        <!--環境監控-->
        <div class="col-sm-2 leftfloat">
            <div class="list-group">
                <a class="list-group-item active">環境監控</a>
                <a href="/CurrentState"     class="list-group-item">目前數值</a>
                <a href="/PastValueTable"   class="list-group-item">過去數值(表)</a>
                <a href="/PastValueFigure"  class="list-group-item">過去數值(圖)</a>
            </div>
        </div>
        <!--安全監控-->
        <div class="col-sm-2 leftfloat">
            <div class="list-group">
                <a class="list-group-item active">安全監控</a>
                <a href="/DoorLock"         class="list-group-item">門鎖</a>
                <a href="/Monitor"          class="list-group-item">監視器</a>
                <a href="/EventRecord"      class="list-group-item">事件紀錄</a>
            </div>
        </div>
        <!--系統設定-->
        <div class="col-sm-2 leftfloat">
            <div class="list-group">
                <a class="list-group-item active">系統設定</a>
                <a href="/Member/Quire" class="list-group-item">成員</a>
                <a href="/SystemReportDay" class="list-group-item">報表</a>
                <a href="/SetUp" class="list-group-item">設定</a>
            </div>
        </div>
    </div>


    <div class="right">
        <!--第一排-->
        <div class="right_t">
            <div class="ele">
                <div class="ele_t ele_t_font">濕度</div>
                <div class="ele_b">
                    <input type="text" class="ele_b_font ele_b_input" id="Humidity"  readonly="value">
                </div>
            </div>
            <div class="ele">
                <div class="ele_t ele_t_font">溫度(攝氏)</div>
                <div class="ele_b">                   
                    <input type="text" class="ele_b_font ele_b_input" id="TemperC"  readonly="value">
                </div>
            </div>
            <div class="ele">
                <div class="ele_t ele_t_font">溫度(華氏)</div>
                <div class="ele_b">                  
                    <input type="text" class="ele_b_font ele_b_input" id="TemperF"  readonly="value">
                </div>
            </div>
        </div>
        <!--第二排-->
        <div class="right_t">
            <div class="ele">
                <div class="ele_t ele_t_font">可燃氣</div>
                <div class="ele_b">                  
                    <input type="text" class="ele_b_font ele_b_input" id="sensor"  readonly="value">
                </div>
            </div>
            <div class="ele">
                <div class="ele_t ele_t_font">空氣清晰度</div>
                <div class="ele_b">                  
                    <input type="text" class="ele_b_font ele_b_input" id="Air"  readonly="value">
                </div>
            </div>
            <div class="ele">
                <div class="ele_t ele_t_font">粉成濃度</div>
                <div class="ele_b">                 
                    <input type="text" class="ele_b_font ele_b_input" id="Dust"  readonly="value">
                </div>
            </div>
        </div>
        <!--第三排-->
        <div class="right_t">
            <div class="ele">
                <div class="ele_t ele_t_font">安培量</div>
                <div class="ele_b">         
                    <input type="text" class="ele_b_font ele_b_input" id="ampere"  readonly="value">
                </div>
            </div>
            <div class="ele">
                <div class="ele_t ele_t_font">插座狀態</div>
                <div class="ele_b">
                    <p class="ele_b_font" id="p1">關</p></div>
            </div>
        </div>
    </div>
    

</div>

</body>
</html>