<!DOCTYPE html>
<html>
<head>
<!--     
        Humidity   #濕度
        TemperC    #溫度(攝氏)
        TemperF    #溫度(華視)
        sensor     #可燃氣
        Air        #空氣清晰度
        Dust       #粉成濃度
        ampere     #安培量
 -->
	<!-- 以下這5行是引用bootstrap及jquery CDN (Content Delivery Network)的標準動作 -->
    <meta charset="utf-8"> <!-- 指定內文的編碼，若要顯示中文，通常用utf-8這個unicode編碼 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/ui">
    <link rel="stylesheet" type="text/css" href="/ecs">
	<title>居家物聯網監控系統</title>

<script>
    window.setInterval("show()", 1000); 
    function show() {
        var baseurl = 'http://127.0.0.1:8000';
        $$.get(
            baseurl + '/test',
            { name: "John", time: "2pm" },
            function(data){
                $$('#Humidity').val(data.Humidity);
                $$('#TemperC').val(data.TemperC);
                $$('#TemperF').val(data.TemperF);
                $$('#sensor').val(data.sensor);
                $$('#Air').val(data.Air);
                $$('#Dust').val(data.Dust);
                $$('#ampere').val(data.ampere);
            }
        );
    }
</script>


</head>

<body class="output container">




        <div class="special">

            <h2>居家物聯網監控系統</h2>

        </div>


<!--title-->



<div class="container">

    <div class="signup">


        <!--環境監控-->
        <form class="form-signup">         

            <a class="list-group-item active">環境監控</a>
            <a href="/CurrentState"     class="list-group-item">目前數值</a>
            <a href="/PastValueTable"   class="list-group-item">過去數值(表)</a>
            <a href="/PastValueFigure"  class="list-group-item">過去數值(圖)</a>
            <br>
               
        </form>

        <!--安全監控-->


         <form class="form-signup">         

            <a class="list-group-item active">安全監控</a>
            <a href="/DoorLock"         class="list-group-item">門鎖</a>
            <a href="/Monitor"          class="list-group-item">監視器</a>
            <a href="/EventRecord"      class="list-group-item">事件紀錄</a>
            <br>
               
        </form>

        <!--系統設定-->
        <form class="form-signup">         

            <a class="list-group-item active">系統設定</a>
            <a href="/SystemReportDay" class="list-group-item">報表</a>
            <a href="/SetUp" class="list-group-item">設定</a>
            <br>
               
        </form>

        <form class="form-signup">         
      
            <a href="#" class="list-group-item">登出</a>
                                    
        </form>


    </div>







    <div class="signin">



        <form class="form-signup">         

            <a class="list-group-item active" >温度</a>
                <div class="ele_b">                  
                    <input type="text" class="list-group-item-two" id="Humidity"  readonly="value">
                </div>        
        </form>


        <form class="form-signup">         

            <a class="list-group-item active" >濕度</a>
                <div class="ele_b">
                    <input type="text" class="list-group-item-two" id="TemperC"  readonly="value">
                </div>        
        </form>


        <form class="form-signup">         

            <a class="list-group-item active" >可燃氣濃度</a>
                <div class="ele_b">
                   <input type="text" class="list-group-item-two" id="sensor"  readonly="value">
                </div>        
        </form>


        <form class="form-signup">         

            <a class="list-group-item active" >空氣清晰度</a>
                <div class="ele_b">
                   <input type="text" class="list-group-item-two" id="Air" readonly="value">
                </div>        
        </form>


        <form class="form-signup">         

            <a class="list-group-item active" >電流</a>
                <div class="ele_b">
                   <input type="text" class="list-group-item-two" id="ampere" readonly="value">
                </div>        
        </form>

        
        <form class="form-signup">         

            <a class="list-group-item active" >華氏度</a>
                <div class="ele_b">
                   <input type="text" class="list-group-item-two" id="TemperF" readonly="value">
                </div>        
        </form>


        <form class="form-signup">         

            <a class="list-group-item active" >粉塵濃度</a>
                <div class="ele_b">
                   <input type="text" class="list-group-item-two" id="Dust" readonly="value">
                </div>        
        </form>
 
 

        <form class="form-signup">         

            <a class="list-group-item active" >插座狀態</a>
                <div class="ele_b">
                    <input type="text" class="list-group-item-two" id=""  readonly="value">
                </div>        
        </form>

            
    </div>

</div>


</html>