$def with(host_ip)
<!DOCTYPE html>
<html>
<head>
<!--     
        Humidity   #濕度
        TemperC    #溫度(攝氏)
        TemperF    #溫度(華視)
        sensor     #可燃氣
        Air        #空氣清晰度
        Dust       #粉成濃度
        ampere     #安培量
 -->
	<!-- 以下這5行是引用bootstrap及jquery CDN (Content Delivery Network)的標準動作 -->
    <meta charset="utf-8"> <!-- 指定內文的編碼，若要顯示中文，通常用utf-8這個unicode編碼 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/ui">
    <link rel="stylesheet" type="text/css" href="/ecs">
	<title>居家物聯網監控系統</title>

<script>

    window.setInterval("show()", 5000); 
    function show() {
        
        var host_ip = document.getElementById("host_ip").value;
        $$.get(
            // host_ip + '/test',
            host_ip + '/value',
            { name: "John", time: "2pm" },
            function(data){
                $$('#Humidity').val(data.Humidity);
                $$('#TemperC').val(data.TemperC);
                $$('#TemperF').val(data.TemperF);
                $$('#sensor').val(data.sensor);
                $$('#Air').val(data.Air);
                $$('#Dust').val(data.Dust);
                $$('#ampere').val(data.ampere);
                document.getElementById("Humidity_L").style.width = String(data.Humidity)+ "%";
                document.getElementById("TemperC_L").style.width  = String(data.TemperC) + "%";
                document.getElementById("TemperF_L").style.width  = String(data.TemperF/212*100) + "%";
                document.getElementById("sensor_L").style.width   = String(data.sensor/2.5*100)  + "%";
                document.getElementById("Air_L").style.width      = String(data.Air/1000*100)     + "%";
                document.getElementById("Dust_L").style.width     = String(data.Dust/3000*100)    + "%";
                document.getElementById("ampere_L").style.width   = String(data.ampere/15*100)  + "%";
            }
        );
    }
</script>


</head>
<input type="hidden" value="$host_ip" name="host_ip" id="host_ip"/>
<!-- <body class="output container"> -->
<body>
<div class="id_wrapper">




    <nav class="navbar navbar-inverse navbar-fixed-top" style="margin: 0px">
        <div class="container">
            <div class="navbar-header">
                <a class="text_title navbar-brand" href="/CurrentState">家庭物聯網監控系統</a>
            </div>
        </div>
    </nav>

    <div id="hh" class="signup-three">

        <div class="form-signup from_w">
            <!--環境監控-->
            <form class="form-signup">         
                <a class="txt_LeftTitle_T list-group-item active">環境監控</a>
                <a href="/CurrentState"     class="txt_LeftTitle_B list-group-item">目前數值</a>
                <a href="/PastValueTable"   class="txt_LeftTitle_B list-group-item">過去數值(表)</a>
                <a href="/PastValueFigure"  class="txt_LeftTitle_B list-group-item">過去數值(圖)</a>
                <br>
            </form>
            <form class="form-signup">         
                <a class="txt_LeftTitle_T list-group-item active">安全監控</a>
                <a href="/DoorLock"         class="txt_LeftTitle_B list-group-item">卡片處理</a>
                <a href="/Monitor"          class="txt_LeftTitle_B list-group-item">監視影像</a>
                <a href="/EventRecord"      class="txt_LeftTitle_B list-group-item">事件紀錄</a>
                <br>
            </form>
            <form class="form-signup">
                <a class="txt_LeftTitle_T list-group-item active">系統設定</a>
                <a href="/SystemReportDay" class="txt_LeftTitle_B list-group-item">報表生成</a>
                <a href="/SetUp"           class="txt_LeftTitle_B list-group-item">成員處理</a>
                <br>
            </form>
            <form class="form-signup">        
                <a href="/logout" class="list-group-item">登出</a>              
            </form>
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById("hh").style.height = String(screen.height/5.9)  + "%";
    </script>
    <div class="right">
        <div class="page-header">
            <div class="T_top_max">
                目前數值
            </div>
            <div class="T_top_min">
                <a href="/CurrentState">物聯網監控系統(首頁)</a>
            </div>
        </div>
        <div class="ele">
            <div class="ele_t">
                <div class="ele_t_font">溫度(攝氏)：</div>
                <input class="ele_value" type="text" id="TemperC"  readonly="value">
            </div>
            <div class="ele_b">
                <div class="progress ele_line">
                    <div id="TemperC_L" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    </div>
                </div>
            </div>
            <div class="ele_b">
                <div class="row">
                    <div class="col-md-1">0</div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4">50</div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1">100</div>
                </div>
            </div>            
        </div>
        <div class="ele">
            <div class="ele_t">
                <div class="ele_t_font">溫度(華視)：</div>
                <input class="ele_value" type="text" id="TemperF" readonly="value">
            </div>
            <div class="ele_b">
                <div class="progress ele_line">
                    <div id="TemperF_L" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    </div>
                </div>
            </div>
            <div class="ele_b">
                <div class="row">
                    <div class="col-md-1">32</div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4">122</div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1">212</div>
                </div>
            </div>            
        </div>
        <div class="ele">
            <div class="ele_t">
                <div class="ele_t_font">濕度：</div>
                <input class="ele_value" type="text" id="Humidity" readonly="value">
            </div>
            <div class="ele_b">
                <div class="progress ele_line">
                    <div id="Humidity_L" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    </div>
                </div>
            </div>
            <div class="ele_b">
                <div class="row">
                    <div class="col-md-1">0</div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4">50</div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1">100</div>
                </div>
            </div>            
        </div>
        <div class="ele">
            <div class="ele_t">
                <div class="ele_t_font">可燃氣濃度：</div>
                <input class="ele_value" type="text" id="sensor"  readonly="value">
            </div>
            <div class="ele_b">
                <div class="progress ele_line">
                    <div id="sensor_L" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    </div>
                </div>
            </div>
            <div class="ele_b">
                <div class="row">
                    <div class="col-md-1">0</div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4">1.25</div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1">2.5</div>
                </div>
            </div>            
        </div>
        <div class="ele">
            <div class="ele_t">
                <div class="ele_t_font">空氣清晰度：</div>
                <input class="ele_value" type="text" id="Air" readonly="value">
            </div>
            <div class="ele_b">
                <div class="progress ele_line">
                    <div id="Air_L" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    </div>
                </div>
            </div>
            <div class="ele_b">
                <div class="row">
                    <div class="col-md-1">0</div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4">500</div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1">1000</div>
                </div>
            </div>            
        </div>
        <div class="ele">
            <div class="ele_t">
                <div class="ele_t_font">粉塵濃度：</div>
                <input class="ele_value" type="text" id="Dust" readonly="value">
            </div>
            <div class="ele_b">
                <div class="progress ele_line">
                    <div id="Dust_L" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    </div>
                </div>
            </div>
            <div class="ele_b">
                <div class="row">
                    <div class="col-md-1">0</div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4">150</div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1">3000</div>
                </div>
            </div>      
        </div>
        <div class="ele">
            <div class="ele_t">
                <div class="ele_t_font">電流量：</div>
                <input class="ele_value" type="text" id="ampere" readonly="value">
            </div>
            <div class="ele_b">
                <div class="progress ele_line">
                    <div id="ampere_L" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    </div>
                </div>
            </div>
            <div class="ele_b">
                <div class="row">
                    <div class="col-md-1">0</div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4">7.5</div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1">15</div>
                </div>
            </div>            
        </div>
        <div class="ele">
            <div class="ele_t">
                <div class="ele_t_font">測試</div>
            </div>
            <div class="ele_b">
                測試1、2、3<br>
                測試1、2、3
            </div>          
        </div>
    </div>
<!-- 
    <footer class="id_footer" style="height:40px;width:100%;position:absolute;bottom: 0; background-color: #000000;">
        <p class="text-muted">Place sticky footer content here.</p>
    </footer>
 -->
</div>
</body>
</html>