<!DOCTYPE html>
<html>
<head>
	<!-- 以下這5行是引用bootstrap及jquery CDN (Content Delivery Network)的標準動作 -->
    <meta charset="utf-8"> <!-- 指定內文的編碼，若要顯示中文，通常用utf-8這個unicode編碼 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/ui">
	<title>居家物聯網監控系統</title>

</head>
<body class="output container">

<!--title-->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">居家物聯網監控系統</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">登出</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="main">

    <div class="left">
        <!--環境監控-->
        <div class="col-sm-2 leftfloat">
            <div class="list-group">
                <a class="list-group-item active">環境監控</a>
                <a href="/CurrentState"     class="list-group-item">目前數值</a>
                <a href="/PastValueTable"   class="list-group-item">過去數值(表)</a>
                <a href="/PastValueFigure"  class="list-group-item">過去數值(圖)</a>
            </div>
        </div>
        <!--安全監控-->
        <div class="col-sm-2 leftfloat">
            <div class="list-group">
                <a class="list-group-item active">安全監控</a>
                <a href="/DoorLock"         class="list-group-item">門鎖</a>
                <a href="/Monitor"          class="list-group-item">監視器</a>
                <a href="/EventRecord"      class="list-group-item">事件紀錄</a>
            </div>
        </div>
        <!--系統設定-->
        <div class="col-sm-2 leftfloat">
            <div class="list-group">
                <a class="list-group-item active">系統設定</a>
                <a href="/Member/Quire" class="list-group-item">成員</a>
                <a href="/Event" class="list-group-item">事件</a>
                <a href="/Report" class="list-group-item">報表</a>
            </div>
        </div>
    </div>


    <div class="right">
        <div class="right_t">
            <div class="ele">
                <div class="ele_t">溫度</div>
                <div class="ele_b">28</div>
            </div>
            <div class="ele">
                <div class="ele_t">濕度</div>
                <div class="ele_b">60</div>
            </div>
            <div class="ele">
                <div class="ele_t">可燃氣濃度</div>
                <div class="ele_b">100</div>
            </div>
            <div class="ele">
                <div class="ele_t">空氣清晰度</div>
                <div class="ele_b">200</div>
            </div>
        </div>
        <div class="right_t">
            <div class="ele">
                <div class="ele_t">電流</div>
                <div class="ele_b">0.6</div>
            </div>
            <div class="ele">
                <div class="ele_t">累計度數</div>
                <div class="ele_b">32.1</div>
            </div>
        </div>
    </div>
    

</div>

</body>
</html>