<!DOCTYPE html>
<html>
<head>
	<!-- 以下這5行是引用bootstrap及jquery CDN (Content Delivery Network)的標準動作 -->
    <meta charset="utf-8"> <!-- 指定內文的編碼，若要顯示中文，通常用utf-8這個unicode編碼 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/ui">
    <link rel="stylesheet" type="text/css" href="/ser">
    <link rel="stylesheet" type="text/css" href="/epvt">

	<title>居家物聯網監控系統</title>
    <script>
        var alldata; //全域變數，存取收到的data

        function Qdata() {
            var Y = document.getElementById("Y").value
            var M = document.getElementById("M").value
            var D = document.getElementById("D").value

            var baseurl = 'http://127.0.0.1:8000';
            $$.post(
                baseurl + '/EventRecord',
                {   
                    Y: Y,
                    M: M, 
                    D: D
                },
                function(data){
                    alldata = data; //將data存入全域變數
                    $$("#mt tbody").html(""); //清空表格
                    var s = document.getElementById('Z');
                    s.options.length = 0; //清空頁碼下拉選單

                    count = Math.ceil(alldata.length/10) //取得總頁數
                    for(i=1; i<=count; i++){ //新增頁碼
                        var new_option = new Option(i,i*10-9)
                        s.options.add(new_option);
                    }

                    for(i=0;i<10;i++){
                        $$('#mt tbody').append(
                            "<tr>"
                                +"<td>"+Number(i+1)+"</td>"
                                +"<td>"+String(data[i]["year"])+" / "+String(data[i]["month"])+" / "+String(data[i]["day"])+"</td>"
                                +"<td>"+String(data[i]["hour"]) + ":"+String(data[i]["min"]) +"</td>"
                                +"<td>"+String(data[i]["event"])+"</td>"
                            +"</tr>"
                            );
                    }
                                        
                }
            );    
        }
        function test() {
            $$("#mt tbody").html(""); //清空表格
            var s = document.getElementById('Z');
            for(i=Number(s.value); i<Number(s.value)+10; i++){
                $$('#mt tbody').append(
                    "<tr>"
                        +"<td>"+Number(i)+"</td>"
                        +"<td>"+String(alldata[i-1]["year"])+" / "+String(alldata[i-1]["month"])+" / "+String(alldata[i-1]["day"])+"</td>"
                        +"<td>"+String(alldata[i]["hour"]) + ":"+String(alldata[i]["min"]) +"</td>"
                        +"<td>"+String(alldata[i]["event"])+"</td>"
                    +"</tr>"
                    );
            }
            alert(alldata.length)
        }
    </script> 
</head>

<body class="output container">
    <div class="special">
        <br>
        <br>
        <br>
        <br>
    </div>
    <nav class="navbar navbar-one navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <li class="nav navbar-text" href="#"><span class="glyphicon"></span>居家物聯網監控系統</li>
            </div>
        </div>
    </nav>
    <div class="signup-three">

        <div class="form-signup">
            <!--環境監控-->
            <form class="form-signup">         
                <a class="list-group-item active">環境監控</a>
                <a href="/CurrentState"     class="list-group-item">目前數值</a>
                <a href="/PastValueTable"   class="list-group-item">過去數值(表)</a>
                <a href="/PastValueFigure"  class="list-group-item">過去數值(圖)</a>
                <br>
            </form>
            <form class="form-signup">         
                <a class="list-group-item active">安全監控</a>
                <a href="/DoorLock"         class="list-group-item">門鎖</a>
                <a href="/Monitor"          class="list-group-item">監視器</a>
                <a href="/EventRecord"      class="list-group-item">事件紀錄</a>
                <br>
            </form>
            <form class="form-signup">
                <a class="list-group-item active">系統設定</a>
                <a href="/SystemReportDay" class="list-group-item">報表</a>
                <a href="/SetUp" class="list-group-item">設定</a>
                <br>
            </form>
            <form class="form-signup">        
                <a href="#" class="list-group-item">登出</a>              
            </form>
        </div>
    </div>

    <div class="right">
        <!--整合-->
        <div class="E_table">
            <div class="E_table_t">
                <div class="E_table_t_L">
                    <!--// 下拉是選單(年/月/日)-->
                    <form action="/PastValueTable" method="POST">
                        <select style="width:85px;float:left;" class=" form-control input-sm" name="Y" id="Y">
                            <option value="2017">2017年</option>
                            <option value="2018">2018年</option>
                            <option value="2019">2019年</option>
                            <option value="all">All</option>
                        </select>
                        <select style="width:70px;float:left;" class=" form-control input-sm" name="M" id="M">
                            <option value="1">1月</option><option value="2">2月</option><option value="3">3月</option>
                            <option value="4">4月</option><option value="5">5月</option><option value="6">6月</option>
                            <option value="7">7月</option><option value="8">8月</option><option value="9">9月</option>
                            <option value="10">10月</option><option value="11">11月</option><option value="12">12月</option>
                            <option value="all">All</option>
                        </select>
                        <select style="width:70px;float:left;" class=" form-control input-sm" name="D" id="D">
                            <option value="1">1日</option><option value="2">2日</option><option value="3">3日</option>
                            <option value="4">4日</option><option value="5">5日</option><option value="6">6日</option>
                            <option value="7">7日</option><option value="8">8日</option><option value="9">9日</option>
                            <option value="10">10日</option><option value="11">11日</option><option value="12">12日</option>
                            <option value="13">13日</option><option value="14">14日</option><option value="15">15日</option>
                            <option value="16">16日</option><option value="17">17日</option><option value="18">18日</option>
                            <option value="19">19日</option><option value="20">20日</option><option value="21">21日</option>
                            <option value="22">22日</option><option value="23">23日</option><option value="24">24日</option>
                            <option value="25">25日</option><option value="26">26日</option><option value="27">27日</option>
                            <option value="28">28日</option><option value="29">29日</option><option value="30">30日</option>
                            <option value="31">31日</option>
                            <option value="all">All</option>
                        </select>
                        <button type="button" class="btn btn-default btn-sm" onclick="Qdata()">送出</button>
                        <select style="width:70px;float:left;" class=" form-control input-sm" name="Z" id="Z"></select>
                        <button type="button" class="btn btn-default btn-sm" onclick="test()">查詢</button>
                    </form>
                </div>
            </div>
            <div class="E_table_b">
                <table id="mt" class="metable table table-hover">
                    <thead>
                        <tr>
                            <th width="50px">項次</th>
                            <th width="100px">日期</th>
                            <th width="100px">時間</th>
                            <th width="500px">事件描述</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
</html>