<!DOCTYPE html>
<html>
<head>
	<!-- 以下這5行是引用bootstrap及jquery CDN (Content Delivery Network)的標準動作 -->
    <meta charset="utf-8"> <!-- 指定內文的編碼，若要顯示中文，通常用utf-8這個unicode編碼 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--RSA-->
    <!--
    <script src="http://www.ohdave.com/rsa/BigInt.js"></script>
    <script src="http://www.ohdave.com/rsa/Barrett.js"></script>
    <script src="http://www.ohdave.com/rsa/RSA.js"></script>
    <script src="http://www.ohdave.com/rsa/RSA_Stripped.js"></script>
    -->
    <script type="text/javascript" src="/BigInt"></script>
    <script type="text/javascript" src="/Barrett"></script>
    <script type="text/javascript" src="/RSA"></script>
    <script type="text/javascript" src="/RSA_Stripped"></script>

    <!--<link rel="stylesheet" type="text/css" href="http://140.137.41.137:8089/w10507/css_js/ui.css">-->
    <link rel="stylesheet" type="text/css" href="/ui">
    <link rel="stylesheet" type="text/css" href="/singin">
	<title>居家物聯網監控系統</title>

</head>
<body class="output container">

<!--title-->


    
        <div class="special">

            <ul><h2>居家物聯網監控系統</h2>></a>
            <!--<ul><h3>Please Signin</h3></ul>-->
            
        </div>


    


<div class="main">
    
    <center>
        <form class="singIN" role="form" action="/login" method="POST" id="loginform">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </div>
                    <input type="text" class="form-control" placeholder="請輸入帳號" name="user" >
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                    </div>
                    <input type="password" class="form-control" placeholder="請輸入密碼" name="password" id="password">
                </div>
            </div>
            <br>
            <button id="dologin" type="submit" class="btn btn-default">登入</button>
        </form>

    </center>

</div>


</body>
</html>