$def with(account)
<!DOCTYPE html>
<html>
<head>
	<!-- 以下這5行是引用bootstrap及jquery CDN (Content Delivery Network)的標準動作 -->
    <meta charset="utf-8"> <!-- 指定內文的編碼，若要顯示中文，通常用utf-8這個unicode編碼 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/ui">
    <link rel="stylesheet" type="text/css" href="/sm_admq">
	<title>居家物聯網監控系統</title>

    <!-- // 引用 jQuery.js 和 jQuery-TablePage.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script language="Javascript">   

function CheckForm(){
    /*if(confirm("確認要送出本表單嗎？")==true)   
        return true;
    else  
        return false;*/
    var A = document.getElementById("A").value
    if(A == ""){
        alert("不得為空值");
        return false;
    }
    else{
        if(confirm("確認要送出本表單嗎？")==true)   
            return true;
        else  
            return false;
    }
}
function Function_A(){
    var i = document.getElementById("i").value
    var a = document.getElementById("A").value
    if(i == "passwore"){
        if(a == ""){
            alert("密碼欄位不得為空值");
            document.getElementById("A").value = a;
        }else if(a.length <6){
            alert("密碼長度需大於6");
            document.getElementById("A").value = "";
        }
    }else if(i == "phone"){
        if(a == ""){
            alert("電話欄位不得為空值");
            document.getElementById("A").value = a;
        } else if(a.length != 10) {
            alert("需為09********");
            document.getElementById("A").value = "";
        } else if(a.substr(0,2) != "09") {
            alert("需為09********");
            document.getElementById("A").value = "";
        }    
    }else if(i == "email"){
        if(a == ""){
            alert("email欄位不得為空值");
            document.getElementById("A").value = a;
        } else if(a.search("@") == -1){
            alert("需符合格式，「@」");
            document.getElementById("A").value = "";
        }    
    }
}
</script>
</head>
<body class="output container">

<!--title-->

    <div class="special">

            <br>
            <br>
            <br>
            <br>

    </div>


<nav class="navbar navbar-one navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        
        <div class="navbar-header">
            <li class="nav navbar-text" href="#"><span class="glyphicon"></span>居家物聯網監控系統</li>
        </div>

    </div>
</nav>



<div class="signup-three">

    <div class="form-signup">
        <!--環境監控-->
        <form class="form-signup">         

                <a class="list-group-item active">環境監控</a>
                <a href="/CurrentState"     class="list-group-item">目前數值</a>
                <a href="/PastValueTable"   class="list-group-item">過去數值(表)</a>
                <a href="/PastValueFigure"  class="list-group-item">過去數值(圖)</a>
                <br>
             
        </form>


        <!--安全監控-->

        <form class="form-signup">         

                <a class="list-group-item active">安全監控</a>
                <a href="/DoorLock"         class="list-group-item">門鎖</a>
                <a href="/Monitor"          class="list-group-item">監視器</a>
                <a href="/EventRecord"      class="list-group-item">事件紀錄</a>
                <br>
             
        </form>

        <!--系統設定-->

        <form class="form-signup">         

                <a class="list-group-item active">系統設定</a>
                <a href="/Member/Quire" class="list-group-item">成員</a>
                <a href="/SystemReportDay" class="list-group-item">報表</a>
                <a href="/SetUp" class="list-group-item">設定</a>
                <br>
             
        </form>


        <form class="form-signup">        
            
            <a href="#" class="list-group-item">登出</a>
                                
        </form>

        
    </div>

</div>


<div class="right">
        <!--修改-->
        <div class="right_MemberMod">
            <div class="right_MemberAdd_t">
                <div class="text_1">修改</div>
            </div>
            <div class="right_MemberMod_t_b">
                <form action="/Member/Modify" method="POST" class="form-horizontal right_MemberMod_form" onSubmit="return CheckForm();">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">選擇帳號</label>
                        <div class="col-sm-10">
                            <select name="account" class="form-control">
                                $for i in range(0,len(account)):
                                    <option value="$account[i]">$account[i]</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">設定項目</label>
                        <div class="col-sm-10">
                            <select name="setname" id="i" class="form-control">
                                <option value="passwore">密碼</option>
                                <option value="phone">電話</option>
                                <option value="email">電子郵件</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">修改內容</label>
                        <div class="col-sm-10">
                            <input name="settxt" type="text" class="form-control" placeholder="更新內容..." onblur="Function_A()" id="A">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">確認</button>
                            <a class="btn btn-default" href="/Member/Quire" role="button">返回</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    

</div>

</body>
</html>