<!DOCTYPE html>
<html>
<head>
	<!-- 以下這5行是引用bootstrap及jquery CDN (Content Delivery Network)的標準動作 -->
    <meta charset="utf-8"> <!-- 指定內文的編碼，若要顯示中文，通常用utf-8這個unicode編碼 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="http://140.137.41.137:8089/w10507/css_js/ui.css">
	<title>居家物聯網監控系統</title>

    <!-- // 引用 jQuery.js 和 jQuery-TablePage.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script>
        (function(jQuery){
		  
	        jQuery.fn.tablepage = function(oObj, dCountOfPage) {

		        var dPageIndex = 1;
		        var dNowIndex = 1;
		        var sPageStr = "";
		        var dCount = 0;
		        var oSource = jQuery(this);
		        var sNoSelColor = "#CCCCCC";
		        var sSelColor = "black";
		        var sFontColor = "white";

 		        change_page_content();

		        function change_page_content()
		        {
			        //取得資料筆數
			        dCount = oSource.children().children().length - 1;

			        //顯示頁碼
			        sPageStr = "<table><tr><td style='padding: 5px;height:30px;'><b>第</b></td>";
			
			        dPageIndex = 1;
			
			        for (var i = 1; i <= dCount; i += dCountOfPage)
			        {
				        if (dNowIndex == dPageIndex)
				        {
					        sPageStr += "<td style='padding: 4px' valign='top'><table style='width:20px;height:20px;cursor:pointer;color:" + sFontColor + ";border-collapse:collapse;border-style:solid;border-width:1px;border-color:" + sSelColor + ";background-color:" + sSelColor + "'><tr><th style='text-align:center;'>" + (dPageIndex++) + "</th></tr></table></td>";
				        }
				        else
				        {
					        sPageStr += "<td style='padding: 4px'valign='top'><table style='width:20px;height:20px;cursor:pointer;color:" + sFontColor + ";border-collapse:collapse;border-style:solid;border-width:1px;border-color:" + sNoSelColor + ";background-color:" + sNoSelColor + "'><tr><th style='text-align:center;'>" + (dPageIndex++) + "</th></tr></table></td>";
				        }
			        }
			
			        sPageStr += "<td style='padding: 5px;height:30px;'><b>頁</b></td></tr></table>";
			
			        oObj.html(sPageStr);
			
			        dPageIndex = 1;
			
			        //過濾表格內容
			        oSource.children().children("tr").each( function () {
			
				        if (dPageIndex <= (((dNowIndex - 1) * dCountOfPage) + 1) || dPageIndex > ((dNowIndex * dCountOfPage) + 1))
				        {
					        jQuery(this).hide();
				        }
				        else
				        {
					        jQuery(this).show();	
				        }
				
				        dPageIndex++;
			        });
			
			        oSource.children().children("tr").first().show(); //head一定要顯示
						
			        //加入換頁事件
			        oObj.children().children().children().children().each( function () {
		
				        jQuery(this).click( function () {
				
					        dNowIndex = jQuery(this).find("tr").text();
					
					        if (dNowIndex > 0)
					        {
						        change_page_content();
					        }
				        });
			        });
		        }
	        };
        })(jQuery);
    </script>
    <style type="text/css">
.right_MemberAdd{
    height: 380px;
    width: 99%;
    border-radius:1%;
    background-color: #FFFFFF;
    margin-top: 10px;
}
.right_MemberAdd_t{
    height: 40px;
    width: 100%;
    border-radius:1%;
    background-color: #99BBFF;
    
}
.right_MemberAdd_t_L{
    height: 40px;
    width: 300px;
    float:right;
    padding-top: 5px;
}
.right_MemberAdd_t_R{
    height: 40px;
    width: 200px;
    float:right;
    padding-top: 5px;
}
.right_MemberAdd_t_b{
    height: 300px;
    width: 100%;
    padding-left: 150px;
    padding-right: 150px;
}
.right_MemberAdd_form{
    height: 50px;
    width: 100%;
    padding-top: 15px;
    float:left; 
}

.right_MemberMod{
    height: 280px;
    width: 99%;
    border-radius:1%;
    background-color: #FFFFFF;
    margin-top: 10px;
}
.right_MemberMod_t{
    height: 40px;
    width: 100%;
    border-radius:1%;
    background-color: #99BBFF;
    
}
.right_MemberMod_t_L{
    height: 40px;
    width: 300px;
    float:right;
    padding-top: 5px;
}
.right_MemberMod_t_R{
    height: 40px;
    width: 200px;
    float:right;
    padding-top: 5px;
}
.right_MemberMod_t_b{
    height: 300px;
    width: 100%;
    padding-left: 150px;
    padding-right: 150px;
}
.right_MemberMod_form{
    height: 50px;
    width: 100%;
    padding-top: 15px;
    float:left; 
}

.right_MemberDel{
    height: 180px;
    width: 99%;
    border-radius:1%;
    background-color: #FFFFFF;
    margin-top: 10px;
}
.right_MemberDel_t{
    height: 40px;
    width: 100%;
    border-radius:1%;
    background-color: #99BBFF;
    
}
.right_MemberDel_t_L{
    height: 40px;
    width: 300px;
    float:right;
    padding-top: 5px;
}
.right_MemberDel_t_R{
    height: 40px;
    width: 200px;
    float:right;
    padding-top: 5px;
}
.right_MemberDel_t_b{
    height: 300px;
    width: 100%;
    padding-left: 150px;
    padding-right: 150px;
}
.right_MemberDel_form{
    height: 50px;
    width: 100%;
    padding-top: 15px;
    float:left; 
}
    </style>
</head>
<body class="output container">

<!--title-->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">居家物聯網監控系統</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">登出</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="main">

    <div class="left">
        <!--環境監控-->
        <div class="col-sm-2 leftfloat">
            <div class="list-group">
                <a class="list-group-item active">環境監控</a>
                <a href="/CurrentState"     class="list-group-item">目前數值</a>
                <a href="/PastValueTable"   class="list-group-item">過去數值(表)</a>
                <a href="/PastValueFigure"  class="list-group-item">過去數值(圖)</a>
            </div>
        </div>
        <!--安全監控-->
        <div class="col-sm-2 leftfloat">
            <div class="list-group">
                <a class="list-group-item active">安全監控</a>
                <a href="/DoorLock"         class="list-group-item">門鎖</a>
                <a href="/Monitor"          class="list-group-item">監視器</a>
                <a href="/EventRecord"      class="list-group-item">事件紀錄</a>
            </div>
        </div>
        <!--系統設定-->
        <div class="col-sm-2 leftfloat">
            <div class="list-group">
                <a class="list-group-item active">系統設定</a>
                <a href="/Member" class="list-group-item">成員</a>
                <a href="/Event" class="list-group-item">事件</a>
                <a href="/Report" class="list-group-item">報表</a>
            </div>
        </div>
    </div>


    <div class="right">
        <!--系統成員-->
        <div class="right_temperature">
            <div class="right_temperature_t">
                <div class="text_1">系統成員</div>
                <div class="right_Event_t_R">
                    <!--// 放分頁的 HTML 物件-->
                    <span id='table_page1'></span>
                </div>
            </div>
                <table id = "tb1" class="table table-hover">
                    <!---->
                    <thead>
                        <tr>
                            <th width="50px" >項次</th>
                            <th width="150px">帳號</th>
                            <th width="150px">密碼</th>
                            <th width="200px">電話</th>
                            <th>電子郵件</th>
                        </tr>
                    </thead>
                    <tbody>
		                <tr>
                            <td>1</td>
                            <td>a12345</td>
                            <td>asbab</td>
                            <td>0987797760</td>
                            <td>a57345734@yahoo.com.tw</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>a12345</td>
                            <td>asbab</td>
                            <td>0987797760</td>
                            <td>a57345734@yahoo.com.tw</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>a12345</td>
                            <td>asbab</td>
                            <td>0987797760</td>
                            <td>a57345734@yahoo.com.tw</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>a12345</td>
                            <td>asbab</td>
                            <td>0987797760</td>
                            <td>a57345734@yahoo.com.tw</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>a12345</td>
                            <td>asbab</td>
                            <td>0987797760</td>
                            <td>a57345734@yahoo.com.tw</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>a12345</td>
                            <td>asbab</td>
                            <td>0987797760</td>
                            <td>a57345734@yahoo.com.tw</td>
                        </tr>
		            </tbody>
                    <!---->
                </table>
        </div>
        <!--新增-->
        <div class="right_MemberAdd">
            <div class="right_MemberAdd_t">
                <div class="text_1">新增</div>
            </div>
            <div class="right_MemberAdd_t_b">
                <form class="form-horizontal right_MemberAdd_form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">設定帳號</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="至少6字元">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">設定密碼</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" placeholder="至少6字元">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">密碼確認</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" placeholder="至少6字元">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">設定手機</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">設定Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">確認</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--修改-->
        <div class="right_MemberMod">
            <div class="right_MemberAdd_t">
                <div class="text_1">修改</div>
            </div>
            <div class="right_MemberMod_t_b">
                <form class="form-horizontal right_MemberMod_form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">修改項次</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">設定項目</label>
                        <div class="col-sm-10">
                            <select class="form-control">
                                <option>帳號</option>
                                <option>密碼</option>
                                <option>電話</option>
                                <option>電子郵件</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">修改內容</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="更新內容...">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">確認</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--刪除-->
        <div class="right_MemberDel">
            <div class="right_MemberDel_t">
                <div class="text_1">刪除</div>
            </div>
            <div class="right_MemberAdd_t_b">
                <form class="form-horizontal right_MemberDel_form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">選擇項次</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">確認</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    

</div>
<script>
    // 使用 TablePage 功能，參數1是放分頁的 HTML 物件，例如 span，參數2是每頁幾筆
    jQuery("#tb1").tablepage(jQuery("#table_page1"), 5);
    jQuery("#tb2").tablepage(jQuery("#table_page2"), 5);
    jQuery("#tb3").tablepage(jQuery("#table_page3"), 5);
    jQuery("#tb4").tablepage(jQuery("#table_page4"), 5);
</script>
</body>
</html>