$def with(host_ip)
<!DOCTYPE html>
<html>
<head>
	<!-- 以下這5行是引用bootstrap及jquery CDN (Content Delivery Network)的標準動作 -->
    <meta charset="utf-8"> <!-- 指定內文的編碼，若要顯示中文，通常用utf-8這個unicode編碼 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/ui">
    <link rel="stylesheet" type="text/css" href="/su">
	<title>居家物聯網監控系統</title>

    <script language="Javascript">   

        function CheckForm(){
            /*if(confirm("確認要送出本表單嗎？")==true)   
                return true;
            else  
                return false;*/
            var A = document.getElementById("A").value
            var B = document.getElementById("B").value
            if(A == "" || B == "" || C == "" || D == ""){
                alert("不得為空值");
                return false;
            }
            else{
                if(confirm("確認要送出本表單嗎？")==true)   
                    return true;
                    else  
                    return false;
            }
        }
        function Function_A(){
            var p = document.getElementById("A").value
            if(p == ""){
                alert("帳號欄位不得為空值");
                document.getElementById("A").value = p;
            }else if(p.length <6){
                alert("帳號長度需大於6");
                document.getElementById("A").value = "";
            }
        }
        function Function_B(){
            var p = document.getElementById("B").value
            if(p == ""){
                alert("密碼欄位不得為空值");
                document.getElementById("B").value = p;
            }else if(p.length <6){
                alert("密碼長度需大於6");
                document.getElementById("B").value = "";
            }
        }
    </script>

    <script language="javascript">
        var alldata; //全域變數，存取收到的data
        function ShowHello(){
            var host_ip = document.getElementById("host_ip").value;
            //***求帳密***
            // $$.post(
            //     baseurl + '/SetUp',
            //     { 
            //         postdata: "UandP"
            //     },
            //     function(data){
            //         document.getElementById('u').value = data.user;
            //         document.getElementById('p').value = data.pass;                             
            //     }
            // );
            //***求會員***
            $$.post(
                host_ip + '/SetUp',
                { 
                    postdata: "homedata"  
                },
                function(data){
                    alldata = data; //將data存入全域變數
                    $$("#mt tbody").html(""); //清空表格
                    var s = document.getElementById('Z');
                    s.options.length = 0; //清空頁碼下拉選單

                    count = Math.ceil(alldata.length/5) //取得總頁數
                    for(i=1; i<=count; i++){ //新增頁碼
                        var new_option = new Option(i,i*5-4)
                        s.options.add(new_option);
                    }

                    for(i=0;i<5;i++){
                        $$('#mt tbody').append(
                            "<tr>"
                                +"<td>"+Number(i+1)+"</td>"
                                +"<td>"+String(data[i]["phone"])+"</td>"
                                +"<td>"+String(data[i]["email"])+"</td>"
                                +"<td>"+String(data[i]["card"])+"</td>"
                            +"</tr>"
                            );
                    }
                                        
                }
            );
        }
        function test() {
            $$("#mt tbody").html(""); //清空表格
            var s = document.getElementById('Z');
            for(i=Number(s.value); i<Number(s.value)+5; i++){
                $$('#mt tbody').append(
                    "<tr>"
                        +"<td>"+Number(i)+"</td>"
                        +"<td>"+String(alldata[i-1]["phone"])+"</td>"
                        +"<td>"+String(alldata[i-1]["email"])+"</td>"
                        +"<td>"+String(alldata[i-1]["card"])+"</td>"
                    +"</tr>"
                    );
            }
            // alert(alldata.length)
        }
    </script> 

</head>
<body class="output container" onload="ShowHello()">
    <input type="hidden" value="$host_ip" name="host_ip" id="host_ip"/>

    <nav class="navbar navbar-one navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <li class="nav navbar-text" href="#"><span class="glyphicon"></span>居家物聯網監控系統</li>
            </div>
        </div>
    </nav>
    <div class="signup-three">

        <div class="form-signup from_w">
            <!--環境監控-->
            <form class="form-signup">         
                <a class="list-group-item active">環境監控</a>
                <a href="/CurrentState"     class="list-group-item">目前數值</a>
                <a href="/PastValueTable"   class="list-group-item">過去數值(表)</a>
                <a href="/PastValueFigure"  class="list-group-item">過去數值(圖)</a>
                <br>
            </form>
            <form class="form-signup">         
                <a class="list-group-item active">安全監控</a>
                <a href="/DoorLock"         class="list-group-item">門鎖</a>
                <a href="/Monitor"          class="list-group-item">監視器</a>
                <a href="/EventRecord"      class="list-group-item">事件紀錄</a>
                <br>
            </form>
            <form class="form-signup">
                <a class="list-group-item active">系統設定</a>
                <a href="/SystemReportDay" class="list-group-item">報表</a>
                <a href="/SetUp" class="list-group-item">設定</a>
                <br>
            </form>
            <form class="form-signup">        
                <a href="#" class="list-group-item">登出</a>              
            </form>
        </div>
    </div>

    <!--右-->
    <div class="right">
        <!--登入帳密-->
        <div class="set_DR">
            <div class="set_DR_t">
                <div class="text_1">登入帳密</div>
            </div>
            <form action="/SetUpdata" method="POST" class="form-horizontal set_DR_form">
                <form action="/SetUpdata" method="POST" class="form-horizontal setR_form" onSubmit="return CheckForm();">
                    <!--帳號-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">帳號：</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="account" type="text" onblur="Function_A()" id="A"></div>
                    </div>
                    <!--密碼-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">密碼：</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="password" type="text" onblur="Function_B()" id="B"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">確認</button>
                        </div>
                    </div>
                </form>
            </form>
        </div>
        
        <!--通知人員-->
        <div class="set_SR">
            <div class="set_SR_t">
                <div class="text_1">通知人員</div>
                <select style="width:70px;float:left;" class=" form-control input-sm" name="Z" id="Z"></select>
                <button type="button" class="btn btn-default btn-sm" onclick="test()">查詢</button>
                <a type="button" href="/Member/Add" class="btn btn-default btn-sm">新增</a>
                <a type="button" href="/Member/Modify" class="btn btn-default btn-sm">修改</a>
                <a type="button" href="/Member/Delete" class="btn btn-default btn-sm">刪除</a>
                <a type="button" href="/SystemSetUpcard" class="btn btn-default btn-sm">刪除卡片</a>
            </div>
            <table id="mt" class="table table-hover">
                <thead>
                    <tr>
                        <th>項次</th>
                        <th>電話</th>
                        <th>電子郵件</th>
                        <th>登入卡片</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>

</body>