<!DOCTYPE html>
<html>
<head>
	<!-- 以下這5行是引用bootstrap及jquery CDN (Content Delivery Network)的標準動作 -->
    <meta charset="utf-8"> <!-- 指定內文的編碼，若要顯示中文，通常用utf-8這個unicode編碼 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/ui">
    <link rel="stylesheet" type="text/css" href="/su">
	<title>居家物聯網監控系統</title>

    <script language="javascript">
        var alldata; //全域變數，存取收到的data
        function ShowHello(){
            var baseurl = 'http://127.0.0.1:8000';
            //***求帳密***
            $$.post(
                baseurl + '/SetUp',
                { 
                    postdata: "UandP"
                },
                function(data){
                    document.getElementById('u').value = data.user;
                    document.getElementById('p').value = data.pass;                             
                }
            );
            //***求會員***
            $$.post(
                baseurl + '/SetUp',
                { 
                    postdata: "homedata"  
                },
                function(data){
                    alldata = data; //將data存入全域變數
                    $$("#mt tbody").html(""); //清空表格
                    var s = document.getElementById('Z');
                    s.options.length = 0; //清空頁碼下拉選單

                    count = Math.ceil(alldata.length/5) //取得總頁數
                    for(i=1; i<=count; i++){ //新增頁碼
                        var new_option = new Option(i,i*5-4)
                        s.options.add(new_option);
                    }

                    for(i=0;i<5;i++){
                        $$('#mt tbody').append(
                            "<tr>"
                                +"<td>"+Number(i+1)+"</td>"
                                +"<td>"+String(data[i]["phone"])+"</td>"
                                +"<td>"+String(data[i]["email"])+"</td>"
                            +"</tr>"
                            );
                    }
                                        
                }
            );
        }
        function test() {
            $$("#mt tbody").html(""); //清空表格
            var s = document.getElementById('Z');
            for(i=Number(s.value); i<Number(s.value)+5; i++){
                $$('#mt tbody').append(
                    "<tr>"
                        +"<td>"+Number(i)+"</td>"
                        +"<td>"+String(alldata[i-1]["phone"])+"</td>"
                        +"<td>"+String(alldata[i-1]["email"])+"</td>"
                    +"</tr>"
                    );
            }
            // alert(alldata.length)
        }
    </script>

</head>
<body class="output container" onload="ShowHello()">
    <div class="special">
        <br>
        <br>
        <br>
        <br>
    </div>
    <nav class="navbar navbar-one navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <li class="nav navbar-text" href="#"><span class="glyphicon"></span>居家物聯網監控系統</li>
            </div>
        </div>
    </nav>
    <div class="signup-three">

        <div class="form-signup">
            <!--環境監控-->
            <form class="form-signup">         
                <a class="list-group-item active">環境監控</a>
                <a href="/CurrentState"     class="list-group-item">目前數值</a>
                <a href="/PastValueTable"   class="list-group-item">過去數值(表)</a>
                <a href="/PastValueFigure"  class="list-group-item">過去數值(圖)</a>
                <br>
            </form>
            <form class="form-signup">         
                <a class="list-group-item active">安全監控</a>
                <a href="/DoorLock"         class="list-group-item">門鎖</a>
                <a href="/Monitor"          class="list-group-item">監視器</a>
                <a href="/EventRecord"      class="list-group-item">事件紀錄</a>
                <br>
            </form>
            <form class="form-signup">
                <a class="list-group-item active">系統設定</a>
                <a href="/SystemReportDay" class="list-group-item">報表</a>
                <a href="/SetUp" class="list-group-item">設定</a>
                <br>
            </form>
            <form class="form-signup">        
                <a href="#" class="list-group-item">登出</a>              
            </form>
        </div>
    </div>



    <div class="right">
        <!--登入帳密-->
        <div class="set_DR">
            <div class="set_DR_t">
                <div class="text_1">登入帳密</div>
            </div>
            <form class="form-horizontal set_DR_form">
                <form action="/SetUpdata" method="POST" class="form-horizontal setR_form" onSubmit="return CheckForm();">
                    <!--帳號：-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">帳號：</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" id="u" readonly></div>
                    </div>
                    <!--密碼：-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">密碼：</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" id="p" readonly></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <a class="btn btn-default" href="/SetUpdata" role="button">修改</a>
                        </div>
                    </div>
                </form>
            </form>


        </div>
        
        <!--通知人員-->
        <div class="set_SR">
            <div class="set_SR_t">
                <div class="text_1">通知人員</div>
                <select style="width:70px;float:left;" class=" form-control input-sm" name="Z" id="Z"></select>
                <button type="button" class="btn btn-default btn-sm" onclick="test()">查詢</button>
            </div>
            <table id="mt" class="metable table table-hover">
                <thead>
                    <tr>
                        <th>項次</th>
                        <th>電子郵件</th>
                        <th>電話</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

    </div>
    

</div>

</body>
</html>